<igx-grid id="grid1" width="1000px" height="600px" [data]="data" [autoGenerate]="false">
  <igx-column [field]="'ID'" [header]="'ID'" width="70px" [resizable]="true"></igx-column>
  <igx-column [field]="'ProductName'" [header]="'ProductName'" width="100px" [resizable]="true"></igx-column>
  <igx-column [field]="'Downloads'" [header]="'Downloads'" width="100px" [resizable]="true"></igx-column>
  <igx-column [field]="'Released'" [header]="'Released'" width="100px" [resizable]="true"></igx-column>
  <igx-column [field]="'ReleaseDate'" [header]="'ReleaseDate'" width="100px" [resizable]="true"></igx-column>
  <igx-column [field]="'Category'" [header]="'Category'" width="100px" [resizable]="true"></igx-column>
  <igx-column [field]="'Items'" [header]="'Items'" width="100px" [resizable]="true"></igx-column>
  <igx-column [field]="'Test'" [header]="'Test'" width="100px" [resizable]="true"></igx-column>
</igx-grid>